<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
                version="1.0">
    
    
   
    <persistence-unit name="studentPersistenceUnit" transaction-type="JTA">
        <class>Models.Student</class>
        <class>Models.Fees</class>
    </persistence-unit>
    
</persistence>
